#btn{
    padding: 10px;
    border-radius: 17px;
    font-size: 15px;
    font-weight: bold;
    border-color: antiquewhite;
    background-color: aqua;
    cursor: pointer;
}
#btn:hover{
    background-color: aquamarine;
}